@font-face {
    font-family: OpenSans-Light;
    src: url(./fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(./fonts/OpenSans-Regular.ttf);
}

/* BASE */
body {
    font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.subtitle {
    font-size: 25px;
    margin-bottom: 20px;
    font-variant: small-caps;
    margin-top: 0;
}

.space-top {
    padding-top: 65px;
}

.space-top-double {
    padding-top: 115px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.row {
    margin: 0;
}

.container-fill {
    width: 100%;
    height: 100%;
}

.row-fill {
    height: 100%;
}

.full-height {
    height: 100%;
}

.bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: 0;
}

spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}


/* BOOTSTRAP */
.modal-footer {
    margin-top: 0;
}

.modal-body p {
    margin: 0;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    border: none;
}

.btn-primary {
    background-color: rgb(254, 80, 81);
    border-color: rgb(254, 80, 81);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgb(255, 29, 37);
}

.btn-default {
    background-color: rgb(240, 240, 240);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: rgb(230, 230, 230);
}

.modal-content {
    border-radius: 0;
}

input[type="file"] {
    display: inline-block;
}


/* NAVTOP */
.navtop-container {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
    text-transform: uppercase;
}

#navtop-brand {
    color: rgb(0, 0, 0);
}

.navtop-icon {
    vertical-align: bottom;
}

.navtop-toggle-button {
    border: none;
    outline: none;
}

.navtop-toggle-button:hover,
.navtop-toggle-button:active {
    background-color: rgb(238, 238, 238) !important;
    border-radius: 0 0;
    border-color: white !important;
}

.navtop-toggle-button:hover .icon-bar {
    color: rgb(255, 255, 255) !important;
}

.navtop-item {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-repeat: no-repeat;
    background-position: 0 50px;
}

.navtop-item a {
    color: rgb(0, 0, 0) !important;
}

.navtop-items-list .active {
    background-position: 0 48px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: inherit;
}

.navtop-items-list .active:nth-child(1) a {
    color: rgb(255, 29, 37) !important;
}

.navtop-items-list .active:nth-child(2) a {
    color: rgb(63, 169, 245) !important;
}

.navtop-items-list .active:nth-child(3) a {
    color: rgb(255, 147, 30) !important;
}

.navtop-items-list .active:nth-child(4) a {
    color: rgb(122, 201, 67) !important;
}

.navtop-items-list .active:nth-child(5) a {
    color: rgb(255, 108, 164) !important;
}

.navtop-item:hover {
    background-position: 0 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(0, 0, 0);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: rgb(238, 238, 238);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: white;
}

.dropdown-menu > li > span {
    text-transform: lowercase;
    padding: 3px 20px;
}

.navtop-items-list .navtop-item.open > a {
    color: white !important;
}

.navtop-items-list .navtop-item .dropdown-menu a:hover {
    color: white !important;
}

.navtop-items-list .navtop-item:nth-child(1) .dropdown-menu a:hover {
    background-color: rgb(255, 29, 37);
}

.navtop-items-list .navtop-item:nth-child(2) .dropdown-menu a:hover {
    background-color: rgb(63, 169, 245);
}

.navtop-items-list .navtop-item:nth-child(3) .dropdown-menu a:hover {
    background-color: rgb(255, 147, 30);
}

.navtop-items-list .navtop-item:nth-child(4) .dropdown-menu a:hover {
    background-color: rgb(122, 201, 67);
}

.navtop-items-list .navtop-item:nth-child(5) .dropdown-menu a:hover {
    background-color: rgb(255, 108, 164);
}

.navtop-items-list .navtop-item:nth-child(1),
.navtop-items-list .navtop-item:nth-child(1).open > a {
    background-image: -webkit-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
    background-image: -moz-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
    background-image: -o-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
    background-image: -ms-linear-gradient(rgb(255, 29, 37), rgb(255, 29, 37));
}

.navtop-items-list .navtop-item:nth-child(2),
.navtop-items-list .navtop-item:nth-child(2).open > a {
    background-image: -webkit-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
    background-image: -moz-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
    background-image: -o-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
    background-image: -ms-linear-gradient(rgb(63, 169, 245), rgb(63, 169, 245));
}

.navtop-items-list .navtop-item:nth-child(3),
.navtop-items-list .navtop-item:nth-child(3).open > a {
    background-image: -webkit-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
    background-image: -moz-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
    background-image: -o-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
    background-image: -ms-linear-gradient(rgb(255, 147, 30), rgb(255, 147, 30));
}

.navtop-items-list .navtop-item:nth-child(4),
.navtop-items-list .navtop-item:nth-child(4).open > a {
    background-image: -webkit-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
    background-image: -moz-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
    background-image: -o-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
    background-image: -ms-linear-gradient(rgb(122, 201, 67), rgb(122, 201, 67));
}

.navtop-items-list .navtop-item:nth-child(5),
.navtop-items-list .navtop-item:nth-child(5).open > a {
    background-image: -webkit-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
    background-image: -moz-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
    background-image: -o-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
    background-image: -ms-linear-gradient(rgb(255, 108, 164), rgb(255, 108, 164));
}


/* CONTENT */
.content-container {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 65px;
    background-color: rgb(240, 240, 240);
}

.content-container:nth-child(2) {
    background-color: rgb(240, 240, 240);
}

.content-container:nth-child(3) {
    background-color: rgb(255, 255, 255);
}

.content-container:nth-child(4) {
    background-color: rgb(50, 50, 50);
    color: white;
}

.content-container:nth-child(5) {
    background-color: rgb(244, 244, 244);
}

.content-container:nth-child(6) {
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

footer {
    min-height: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    text-align: center;
}

.footer-description {
    margin: 0;
}

.footer-icon {
    color: rgb(255, 29, 37);
}

.footer-link,
.footer-link:hover {
    color: rgb(255, 255, 255);
}


/* HOME */
.home-highlight {
    color: rgb(255, 29, 37);
}

.home-banner {
    position: absolute;
    top: 70%;
    background-color: rgb(255, 29, 37);
    color: rgb(255, 255, 255);
    padding: 7px;
    font-variant: small-caps;
    font-size: 18px;
    margin-bottom: 30px;
}

.home-picture {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#home-remember-box {
    margin-left: 13px;
    margin-right: 6px;
    vertical-align: top;
}

.home-remember-label {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 11px;
}

@media screen and (max-width: 990px) {
    .home-picture {
        margin-top: 0;
    }
}

@media screen and (max-width: 760px) {
    .home-banner {
        position: relative;
        text-align: center;
        margin-top: 10px;
    }
}

#sign-nav {
    margin: 0 0 11px;
    border-bottom: 1px solid rgb(255, 29, 37);
    text-transform: uppercase;
}

.sign-nav-item {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-repeat: no-repeat;
    background-position: 0 40px;
    margin-bottom: 0;
    background-image: -webkit-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
    background-image: -moz-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
    background-image: -o-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
    background-image: -ms-linear-gradient(rgb(254, 80, 81), rgb(254, 80, 81));
}

.sign-nav-item:hover {
    background-position: 0 0;
}

.sign-nav-item:hover a {
    color: rgb(255, 255, 255) !important;
}

#sign-nav a {
    color: rgb(100, 100, 100);
    background-color: transparent;
    border: none;
    font-family: "OpenSans-Regular";
}

#sign-nav .active a {
    background-color: transparent;
    color: rgb(255, 29, 37);
}

.input-prepend {
    height: 45px;
    border: 1px solid rgb(230, 230, 230);
    display: block;
    font: 100 15px/20px "OpenSans-Light";
    width: 100%;
    margin: 0 0 11px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.input-prepend-active {
    border-color: rgb(255, 29, 37);
}

.input-icon {
    float: left;
    color: rgb(230, 230, 230);
    display: block;
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
    text-align: center;
}

.input-text {
    border: none;
    width: 100%;
    line-height: 22px;
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.sign-select {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(170, 170, 170);
    padding-left: 30px;
    margin: 0 0 11px;
}

.sign-select:focus {
    border-color: rgb(255, 29, 37);
    color: rgb(0, 0, 0);
}

.sign-btn-submit {
    width: 100%;
    border: none;
    background-color: rgb(254, 80, 81);
    color: white;
    height: 45px;
    text-transform: uppercase;
    font-family: "OpenSans-Regular";
}

.sign-btn-submit:hover {
    background-color: rgb(255, 29, 37);
}


/* FEATURES */
.features-highlight {
    color: rgb(63, 169, 245);
}

#features .subtitle {
    color: rgb(63, 169, 245);
    text-align: center;
}

.features-img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.features-description {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}


/* DOWNLOADS */
.downloads-highlight {
    color: rgb(255, 147, 30);
}

#downloads .subtitle {
    color: rgb(255, 147, 30);
}

.downloads-bloc {
    margin-top: 13%;
    margin-bottom: 30px;
}

.downloads-img {
    width: 100%;
}

.downloads-img-medium {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.downloads-logo {
    width: 120px;
    margin-left: 20px;
}


/* PLANS */
.plans-highlight {
    color: rgb(122, 201, 67);
}

.plans-container {
    padding-right: 15px;
    padding-left: 15px;
}

.plans-bloc {
    color: rgb(44, 44, 44);
    padding: 20px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.plans-bloc:hover {
    z-index: 10;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 5px rgb(220, 220, 220);
}

.plans-bloc:nth-child(1) {
    background-color: rgb(255, 255, 255);
}

.plans-bloc:nth-child(2) {
    background-color: rgb(122, 201, 67);
    color: rgb(255, 255, 255);
}

.plans-bloc:nth-child(3) {
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
}

.plans-title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.plans-img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.plans-list {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .plans-list {
        font-size: 11px;
    }
}

@media screen and (max-width: 990px) {
    .plans-list {
        font-size: 14px;
    }
}

.plans-list-item {
    margin-bottom: 5px;
}

.plans-list-icon {
    font-size: 24px;
    vertical-align: sub;
    margin-right: 5px;
}

.plans-price {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.plans-price-small {
    font-size: 14px;
}

/* ABOUT */
.about-highlight {
    color: rgb(255, 108, 164);
}

#about .subtitle {
    color: rgb(255, 108, 164);
}

.about-img {
    width: 100%;
    height: 100%;
}

.about-bloc {
    margin-bottom: 20px;
    font-size: 14px;
}

.about-description {
    margin: 0;
}

.about-social-container {
    margin-bottom: 10px;
}

.about-social-logo {
    margin-right: 10px;
    width: 40px;
}

.about-social-link {
    line-height: 40px;
    color: rgb(50, 50, 50);
}

.about-social-link:hover {
    text-decoration: none;
}

.about-social-container:nth-child(1) .about-social-link:hover {
    color: rgb(0, 64, 137);
}

.about-social-container:nth-child(2) .about-social-link:hover {
    color: rgb(0, 171, 227);
}

.about-social-container:nth-child(3) .about-social-link:hover {
    color: rgb(255, 108, 164);
}