<div class="container container-fill no-padding no-margin">
  <div class="row row-fill tertiary">

    <div class="col-md-10 col-md-offset-1" link-explorer>

      <div ng-include src="'/src/links/linksActionBar.tpl.html'"></div>

      <div class="row grid-view-table-container">

        <table class="col-md-12">
          <thead>
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody ng-repeat="item in items track by $index">
            <tr ng-class="{true:'itemActive',false:''}[itemActive.name == item.name]" ng-click="toggleItem(item);">
              <td>
                <img class="table-icon" ng-if="!item.isShared" ng-src="/styles/icons/icon_{{item.type}}.svg" />
                <img class="table-icon" ng-if="item.isShared === true" ng-src="/styles/icons/icon_shared{{item.type}}.svg" />

                <span navigate="external" navigate-param-val="http://localhost:8000/webapp.html#{{item.link.url}}" ng-bind="item.name"></span>
              </td>
              <td>
                <span ng-bind="item.owner.email"></span>
              </td>
              <td>{{item.link.creationDate | date}}</td>
            </tr>
          </tbody>
        </table>

        <p class="col-md-12" id="grid-view-msg" ng-show="items.length === 0">
          You haven't publicly shared any item yet. Go to your files page to <span class="highlight">share some items!</span>
        </p>

      </div>

    </div>

  </div>
</div>

<modal modal-opts="modalOpts" modalform="modalform" modal-color="'tertiary'"></modal>