/* JQTREE OVERRIDES */
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
  color: rgb(255, 29, 37);
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  display: block;
  text-shadow: none;
  background: none;
}

ul.jqtree-tree .jqtree-title {
  color: inherit;
}

ul.jqtree-tree .jqtree-element {
  display: block;
  width: 100%;
  padding: 7px 7px 7px 10px;
  white-space: nowrap;
}

ul.jqtree-tree .jqtree-toggler {
  position: relative;
  float: left;
  left: 0;
  margin-right: 5px;
  line-height: inherit;
}

ul.jqtree-tree .jqtree-toggler:hover {
  text-decoration: none;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
  padding-right: 15px;
}

ul.jqtree-tree ul.jqtree_common {
  margin-left: 16px;
}

/* PANEL LEFT */
#panel-left {
  display: block;
  height: 100%;
  min-height: 100%;
}

.panel-left-content {
  height: 100%;
  padding: 5px;
  color: rgb(50, 50, 50);
  background-color: rgb(240, 240, 240);
  overflow: auto;
}

.panel-left-content > ul {
  margin: 0;
}

/* FILE EXPLORER */
#file-explorer-container {
  height: 100%;
}

#file-explorer-form-download {
  display: none;
}

#file-explorer-progress-bar {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background: rgb(255, 29, 37);
  pointer-events: none;
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
       -o-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

#file-explorer-progress-bar.progress-bar-animate {
  z-index: 100;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in;
      -ms-transition: -ms-transform 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in;
          transition: transform 0.3s ease-in;
}


/* TREE VIEW */
@media screen and (max-width: 991px) {
  #tree-view {
    display: none;
  }
}


/* GRID VIEW */
#grid-view {
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid white;
}

.grid-view-table {
  width: 100%;
}

#grid-view-msg {
  margin-top: 100px;
  text-align: center;
}

.upload-container-hover {
  border: 3px solid rgb(255, 29, 37) !important;
}

.upload-progress-container {
  position: absolute;
  left: -15px;
  bottom: 0;
  width: 100%;
}

.upload-btn {
  display: block;
  margin: 0 auto;
}


/* DRAG & DROP */
.dnd-over {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(201, 234, 179) !important;
}

.dnd-over td:first-child {
  color: rgb(255, 255, 255) !important;
}

.dnd-drag {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255);
}

.dnd-drag td:first-child {
  color: rgb(255, 29, 37) !important;
}

.upload-container-hover .dnd-over {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}

.upload-container-hover .dnd-over td:first-child {
  color: rgb(255, 29, 37) !important;
}

.upload-container-hover .dnd-over.itemActive td:first-child {
  color: white !important;
}

.upload-container-hover .dnd-over.itemActive {
  background-color: rgba(254, 80, 81, 0.7) !important;
}