<div id="file-explorer-container">

  <div class="panel-left-content col-md-3" id="tree-view"></div>

  <div id="file-explorer-progress-bar"></div>

  <div class="col-md-9" id="grid-view" ng-file-drop="onFileSelect(null, $files)" ng-file-droppable="{{selectedNode.permissions !== 0}}" ng-file-drag-over-class="upload-container-hover" ng-file-drag-over-class-cond="!.dnd-drag">
    <div ng-include src="'/src/files/filesActionBar.tpl.html'"></div>

    <div class="row grid-view-table-container" id="file-explorer-table-container">

      <table class="col-md-12 grid-view-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Modified</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{true:'itemActive',false:''}[itemActive._id === file._id]" ng-repeat="file in files track by $index" ng-click="toggleItem(file)"
              droppable item="file" doDrop="moveItem" candrop="file.type === 'folder' && file.permissions !== 0">
            <td draggable candrag="(file.permissions !== 0)" item="file">
              <img class="table-icon" ng-if="!file.isShared" ng-src="/styles/icons/icon_{{file.type}}.svg" />
              <img class="table-icon" ng-if="file.isShared === true" ng-src="/styles/icons/icon_shared{{file.type}}.svg" />

              <span ng-if="file.type === 'folder'" ng-click="feSelectNode(file)" ng-bind="file.name"></span>
              <span ng-if="file.type === 'file'" ng-click="feOpenModalDownloadItem(file); $event.stopPropagation();" ng-bind="file.name"></span>
            </td>
            <td>
              <span ng-if="file.type === 'folder'" ng-bind="file.type"></span>
              <span ng-if="file.type === 'file'" ng-bind="file.meta.type"></span>
            </td>
            <td>
              <span ng-bind="file.meta.size | size"></span>
            </td>
            <td>{{file.lastModified | date}}</td>
            <td ng-if="!file.isPublic">-</td>
            <td ng-if="file.isPublic">
              <img class="table-icon clickable" navigate="external" navigate-param-val="{{conf.epWeb}}/webapp.html#{{file.link.url}}" ng-src="/styles/icons/icon_link.svg" />
            </td>
          </tr>
        </tbody>
      </table>

      <p class="col-md-12" id="grid-view-msg" ng-show="files.length === 0">
        This folder is empty. <span class="highlight">Drag and drop</span> some folders and files here!
      </p>

    </div>
  </div>

  <form id="file-explorer-form-download" method="GET" action="{{ conf.epApi + '/item/' + itemActive._id + '/download/' + getToken() }}">
  </form>
</div>