ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    background-color: rgb(255, 29, 37);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

ul.jqtree-tree .jqtree-title {
    color: inherit;
}

body {
    padding-top: 50px;
}

#panel-left {
    border: 1px solid rgb(0, 0, 0);
    display: block;
}

.panel-left-content {
    background-color: rgb(60, 60, 60);
    margin-top: -15px;
    color: rgb(255, 255, 255);
}