/* JQTREE OVERRIDES */
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
    color: rgb(255, 29, 37);
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    text-shadow: none;
    display: block;
}

ul.jqtree-tree .jqtree-title {
    color: inherit;
}

ul.jqtree-tree .jqtree-element {
    white-space: nowrap;
    width: 100%;
    padding: 7px;
    padding-left: 10px;
    display: block;
}

ul.jqtree-tree .jqtree-toggler {
    position: relative;
    float: left;
    left: 0;
    margin-right: 5px;
    line-height: inherit;
}

ul.jqtree-tree .jqtree-toggler:hover {
    text-decoration: none;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
    padding-right: 15px;
}

/* BASE */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

#panel-left {
    height: 100%;
    min-height: 100%;
    display: block;
}

.panel-left-content {
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
    height: 100%;
    overflow: auto;
    padding: 5px;
}

.panel-left-content > ul {
    margin: 0;
}

/* FILE EXPLORER */
#file-explorer-container {
    height: 100%;
}

#grid-view {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 3px solid white;
}

.grid-view-table {
    width: 100%;
}

.grid-view-table-header {
    text-align: left;
    border-bottom: 2px solid rgb(230, 230, 230);
    text-transform: uppercase;
    color: rgb(150, 150, 150);
}

.grid-view-table-header th {
    font-weight: normal;
    padding: 5px;
}

.grid-view-table-tr {
    height: 40px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.grid-view-table td {
    padding: 5px;
}

.grid-view-table-td-first {
    color: rgb(255, 0, 0);
    font-variant: small-caps;
    font-size: 15px;
    cursor: pointer;
}

.grid-view-table-icon {
    width: 23px;
    vertical-align: bottom;
    margin-right: 5px;
}

.grid-view-table-filename:hover {
    text-decoration: underline;
}

.action-bar {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.action-bar-icon {
    width: 23px;
}

.action-bar-item {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    color: rgb(50, 50, 50);
}

.action-bar-item:hover {
    background-color: rgb(254, 80, 81);
    color: rgb(255, 255, 255);
}

.upload-container-hover {
    border: 3px solid rgb(255, 29, 37) !important;
}

.upload-progress-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: -15px;
}

.upload-btn {
    margin: 0 auto;
    display: block;
}