<div class="row action-bar">

  <ul class="action-bar-left">
    <li class="action-bar-item" ng-show="selectedNode.parent.parent !== null" ng-click="feSelectNode(selectedNode.parent)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_arrowleft.svg'"></ng-include>
    </li>
  </ul>

  <ul class="action-bar-right">

    <li class="action-bar-item" ng-show="itemActive" ng-click="feDownloadItem()">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_download.svg'"></ng-include>
      <span>Download</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.type === 'folder' && !itemActive.isShared" ng-click="feOpenModalShareItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_share.svg'"></ng-include>
      <span>Share</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.type === 'folder' && itemActive.isShared" navigate="/sharing" navigate-param="id" navigate-param-val="{{itemActive._id}}">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_share.svg'"></ng-include>
      <span>Manage Sharing</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && !itemActive.isPublic" ng-click="createSharedLink(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_link.svg'"></ng-include>
      <span>Share Link</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.isPublic" navigate="/links">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_link.svg'"></ng-include>
      <span>Manage Link</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.type === 'folder'" ng-click="feSelectNode(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_open.svg'"></ng-include>
      <span>Open</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive" ng-click="feCopy(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_copy.svg'"></ng-include>
      <span>Copy</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.permissions !== 0" ng-click="feOpenModalRenameItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_rename.svg'"></ng-include>
      <span>Rename</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && selectedNode.parent.parent !== null && itemActive.permissions !== 0" ng-click="moveItem(itemActive._id, selectedNode.parent._id)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_moveup.svg'"></ng-include>
      <span>Move Up</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && (itemActive.permissions !== 0 || itemActive.root)" ng-click="feOpenModalDeleteItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_delete.svg'"></ng-include>
      <span>Delete</span>
    </li>

    <li class="action-bar-separator" ng-show="itemActive && selectedNode.permissions !== 0"></li>

    <li class="action-bar-item" ng-show="itemCopied && canPaste" ng-click="copyItem(itemCopied._id, selectedNode._id)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_paste.svg'"></ng-include>
      <span>Paste</span>
    </li>

    <li class="action-bar-item" data-toggle="modal" ng-click="feOpenModalNewFolder()" ng-show="selectedNode.permissions !== 0">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_newfolder.svg'"></ng-include>
      <span>Create Folder</span>
    </li>

    <li class="action-bar-item" ng-click="feOpenModalNewFiles()" ng-show="selectedNode.permissions !== 0">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_newfile.svg'"></ng-include>
      <span>Add Files</span>
    </li>

  </ul>
</div>