<div id="file-explorer-container">

    <div id="tree-view" class="panel-left-content col-md-3"></div>

    <!--div>
        <input type="file" ng-file-select="onFileSelect($files)" >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
             ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true"
             ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
    </div-->

    <div id="grid-view" class="col-md-9" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-container-hover">

        <ul class="action-bar">
            <li class="action-bar-item" data-toggle="modal" data-target="#new-folder-modal">
                <img class="action-bar-icon" src="/styles/icons/icon_folder_add.svg" />
                <span>Add Folder</span>
            </li>
            <li class="action-bar-item">
                <img class="action-bar-icon" src="/styles/icons/icon_file_add.svg" />
                <span>Add File</span>
            </li>
        </ul>

        <table class="grid-view-table">
            <thead>
                <tr class="grid-view-table-header">
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tr ng-repeat="file in files" class="grid-view-table-tr">
                <td class="grid-view-table-td-first">
                    <img class="grid-view-table-icon" ng-src="/styles/icons/icon_{{file.type}}.svg" />
                    <span class="grid-view-table-filename" ng-click="selectNode(file.name)">{{file.name}}</span>
                </td>
                <td>{{file.type}}</td>
            </tr>
        </table>

        <div class="upload-progress-container" ng-show="uploading">
            <button class="upload-btn" ng-click="upload.abort()">Cancel Upload</button>
        </div>

    </div>

</div>

<div class="modal fade" id="new-folder-modal" tabindex="-1" role="dialog" aria-labelledby="newfolder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="newfolder">Add a folder</h4>
            </div>
            <form role="form" name="formNewFolder" ng-submit="newFolder(formNewFolder)">
                <div class="modal-body">
                    <div class="input-prepend" ng-class="{'input-prepend-active': focused}">
                        <i class="fa fa-folder input-icon"></i>
                        <input id="newfolder-input" class="input-text" type="text" placeholder="Folder name" required ng-model="formNewFolder.name" ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>