<div class="row">
  <div class="col-md-12">

    <div class="input-prepend" ng-class="{'input-prepend-active': focused0}">
      <i class="fa fa-lock input-icon"></i>
      <input class="input-text" type="password" required placeholder="Old Password" pattern=".{6,}" title="6 character minimum length" ng-model="modalform.oldpass" ng-init="focused0 = false" ng-focus="focused0 = true" ng-blur="focused0 = false" />
    </div>

    <div class="input-prepend" ng-class="{'input-prepend-active': focused1}">
      <i class="fa fa-lock input-icon"></i>
      <input class="input-text" type="password" required placeholder="New Password" pattern=".{6,}" title="6 character minimum length" ng-model="modalform.newpass" ng-init="focused1 = false" ng-focus="focused1 = true" ng-blur="focused1 = false" />
    </div>

    <div class="input-prepend" ng-class="{'input-prepend-active': focused2}">
      <i class="fa fa-lock input-icon"></i>
      <input class="input-text" type="password" required placeholder="Confirm New Password" pattern=".{6,}" title="6 character minimum length" ng-model="modalform.newpass2" ng-init="focused2 = false" ng-focus="focused2 = true" ng-blur="focused2 = false"/>
    </div>

  </div>
</div>