<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CubbyHole - Web App</title>
    <link rel="stylesheet" href="src/lib/bootstrap/bootstrap-3.0.3-complete.min.css">
    <link rel="stylesheet" href="styles/font-awesome/font-awesome-4.0.3.min.css">
    <link rel="stylesheet" href="src/lib/jqtree/jqtree.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="src/files/files.css">
    <link rel="stylesheet" href="src/sharing/sharing.css">
    <link rel="stylesheet" href="src/links/links.css">
    <link rel="stylesheet" href="src/notifications/notifications.css">
    <link rel="stylesheet" href="src/user/user.css">
    <link rel="stylesheet" href="styles/home.css">
  </head>

  <body id="ng-app" ng-app="webApp">

    <header class="navbar navbar-inverse navbar-fixed-top navtop-container" role="banner">
      <div class="container" ng-controller="NavbarCtrl">

        <div class="navbar-header">
          <button class="navbar-toggle navtop-toggle-button" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><i class="navtop-icon fa fa-th"></i> Cubbyhole</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse navtop-items-container" role="navigation">
          <ul class="nav navbar-nav navbar-right navtop-items-list" ng-if="getProfile() !== undefined && getProfile() !== null">
            <li class="navtop-item" ng-class="{ active: isActive('/files')}">
              <a href="webapp.html#/files">Files</a>
            </li>
            <li class="navtop-item" ng-class="{ active: isActive('/sharing')}">
              <a href="webapp.html#/sharing">Sharing</a>
            </li>
            <li class="navtop-item" ng-class="{ active: isActive('/links')}">
              <a href="webapp.html#/links">Links</a>
            </li>
            <li class="navtop-item" ng-class="{ active: isActive('/notifications')}">
              <a href="webapp.html#/notifications">Notifications</a>
            </li>
            <li class="navtop-item dropdown" ng-class="{ active: isActive('/user')}">
              <a data-toggle="dropdown" href="">Me &nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="webapp.html#/user" ng-bind="getProfile().email"></a></li>
                <li><a href="webapp.html#/logout">Log out</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right navtop-items-list" ng-if="getProfile() === undefined || getProfile() === null">
            <li class="navtop-item active">
              <a href="index.html">Home</a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    <ng-view></ng-view>

    <spinner ng-show="displaySpinner"></spinner>

    <modal error id="errormodal" modal-opts="modalOpts" modalform="modalform" modal-color="'primary'"></modal>

    <script src="src/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="src/lib/bootstrap/bootstrap-3.0.3-complete.min.js"></script>
    <script src="src/lib/spinjs/spin.js"></script>
    <script src="src/lib/angular-file-upload/angular-file-upload-html5-shim.min.js"></script>
    <script src="src/lib/angular/angular.min.js"></script>
    <script src="src/lib/angular/angular-animate.min.js"></script>
    <script src="src/lib/angular/angular-resource.min.js"></script>
    <script src="src/lib/angular/angular-route.min.js"></script>
    <script src="src/lib/angular/angular-sanitize.min.js"></script>
    <script src="src/lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="src/app.js"></script>
    <script src="src/lib/jqtree/tree.jquery.js"></script>
    <script src="src/common/controllers/navbar.js"></script>
    <script src="src/common/services/apiService.js"></script>
    <script src="src/common/directives/spinner.js"></script>
    <script src="src/common/directives/draggable.js"></script>
    <script src="src/common/directives/droppable.js"></script>
    <script src="src/common/directives/navigate.js"></script>
    <script src="src/common/multipleInputsShareLink/multipleInputsShareLink.js"></script>
    <script src="src/common/multipleInputsShareLink/multipleInputsShareLinkSup.js"></script>
    <script src="src/common/multipleInputsShareItem/multipleInputsShareItem.js"></script>
    <script src="src/common/multipleInputsShareItem/multipleInputsShareItemSup.js"></script>
    <script src="src/common/modal/modal.js"></script>
    <script src="src/common/error/error.js"></script>
    <script src="src/common/filters/size.js"></script>
    <script src="src/common/filters/date.js"></script>
    <script src="src/login/login.js"></script>
    <script src="src/logout/logout.js"></script>
    <script src="src/files/files.js"></script>
    <script src="src/files/fileExplorer.js"></script>
    <script src="src/sharing/sharing.js"></script>
    <script src="src/sharing/shareExplorer.js"></script>
    <script src="src/links/links.js"></script>
    <script src="src/links/linkExplorer.js"></script>
    <script src="src/links/publicLinks.js"></script>
    <script src="src/notifications/notifications.js"></script>
    <script src="src/notifications/notificationExplorer.js"></script>
    <script src="src/user/user.js"></script>
  </body>
</html>