<div class="multiple-inputs-container">

  <div class="row multiple-input">

    <div class="col-xs-1 no-padding center">
      <a class="btn btn-big modal-btn-plus" ng-class="btnClass" ng-click="addInput()">+</a>
    </div>

    <div class="col-xs-11 no-padding">
      <div class="input-prepend" ng-class="{'input-prepend-active': focused0}">
        <i class="fa input-icon fa-envelope"></i>
        <input class="input-text" type="email" placeholder="Invite People" required ng-model="form.member['0'].email" ng-init="focused0 = false" ng-focus="focused0 = true" ng-blur="focused0 = false" />
      </div>
    </div>
  </div>

</div>