<div class="row multiple-input">

  <div class="col-xs-1 no-padding center">
    <a class="close modal-mini-close modal-btn-plus" ng-click="deleteInput()">&times;</a>
  </div>

  <div class="col-xs-11 no-padding">
    <div class="input-prepend" ng-class="{'input-prepend-active': focused1 }">
      <i class="fa input-icon fa-envelope"></i>
      <input class="input-text" type="email" placeholder="Invite People" ng-model="form.member[index].email" required ng-init="focused1 = false" ng-focus="focused1 = true" ng-blur="focused1 = false" />
    </div>
  </div>

</div>