.shared-options-table-container {
  padding: 0;
  background-color: rgb(248, 248, 248);
  padding-left: 25px;
}

.shared-options-header-tr {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(40, 40, 40);
}

.shared-options-header-tr th:first-child {
  padding-left: 10px;
}

.shared-options-tr {
  border-bottom: none;
}

.shared-options-tr td:first-child {
  padding-left: 10px;
}

.shared-options-tr td:nth-child(2) {
  color: rgb(0, 0, 0);
}

.shared-options-tr td:nth-child(3),
.shared-options-tr td:nth-child(4),
.shared-options-tr td:nth-child(5),
.shared-options-tr td:nth-child(6) {
  text-align: center;
}

.shared-options-form-container {
  border-bottom: none;
  margin-top: 25px;
  height: auto;
}

.shared-options-form-container td {
  padding-top: 30px;
}

.shared-options-form-container td:nth-child(2) {
  padding-top: 20px;
}

.shared-options-form-container button {
  margin-top: -11px;
}

.shared-options-tr-nohover:hover {
  background-color: rgb(248, 248, 248) !important;
}

.shared-permissions-img {
  max-width: 30px;
  min-width: 30px;
}