<div class="row action-bar">
  <ul class="action-bar-right">

    <li class="action-bar-item" ng-show="itemActive && itemActive.owner._id === userId" ng-click="seOpenModalShareItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_share.svg'"></ng-include>
      <span>Invite</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && canConfirm(userId)" ng-click="confirmShare(itemActive._id, userId)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_check.svg'"></ng-include>
      <span>Confirm</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.owner._id !== userId" ng-click="seOpenModalLeaveSharedItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_leave.svg'"></ng-include>
      <span>Leave</span>
    </li>

    <li class="action-bar-item" ng-show="itemActive && itemActive.owner._id === userId" ng-click="seOpenModalUnshareItem(itemActive)">
      <ng-include class="action-bar-icon" src="'/styles/icons/icon_cross.svg'"></ng-include>
      <span>Unshare</span>
    </li>

  </ul>
</div>