<div class="modal fade" id="appmodal" tabindex="-1" role="dialog" aria-labelledby="appmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-bind="modalOpts.title"></h4>
            </div>

            <form role="form" name="modalform" ng-submit="modalOpts.submitFn(modalform, modalOpts.submitFnExtraParam)">
                <div class="modal-body" ng-if="modalOpts.template === undefined">
                    <div class="input-prepend" ng-class="{'input-prepend-active': focused}">
                        <i class="fa input-icon" ng-class="modalOpts.iconClass"></i>
                        <input class="input-text" type="text" placeholder="{{modalOpts.placeholder}}" required ng-model="modalform.name" ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" />
                    </div>
                </div>

                <div id="modal-body-custom" class="modal-body" ng-if="modalOpts.template !== undefined">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="{{modalOpts.submitBtnVal}}" />
                </div>
            </form>

        </div>
    </div>
</div>