<!DOCTYPE html>
<html>
    <head>
        <title>CubbyHole</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body id="ng-app" ng-app="webApp">

        <ng-view></ng-view>

        <script src="../src/lib/angular/angular.min.js"></script>
        <script src="../src/lib/angular/angular-animate.min.js"></script>
        <script src="../src/lib/angular/angular-resource.min.js"></script>
        <script src="../src/lib/angular/angular-route.min.js"></script>
        <script src="../src/lib/angular/angular-sanitize.min.js"></script>
        <script src="../src/app.js"></script>
        <script src="../src/home/home.js"></script>
    </body>
</html>