<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CubbyHole</title>
        <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-3.0.3-complete.min.css">
        <link rel="stylesheet" href="../stylesheets/font-awesome/font-awesome-4.0.3.min.css">
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <!--body id="ng-app" ng-app="webApp" data-spy="scroll" data-target=".navtop-items-container"-->
    <body data-spy="scroll" data-target=".navtop-items-container">

        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav navtop-container" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle navtop-toggle-button" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" id="navtop-brand" class="navbar-brand"><i class="navtop-icon fa fa-th"></i> Cubbyhole</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navtop-items-container" role="navigation">
                    <!--ul class="nav navbar-nav">
                        <li>
                            <a href="#">Features</a>
                        </li>
                    </ul-->
                    <ul class="nav navbar-nav navbar-right navtop-items-list">
                        <li class="navtop-item navtop-item-selected">
                            <a href="#home">Home</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#features">Features</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#downloads">Downloads</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#plans">Plans</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>


        <!--ng-view class="content-container"></ng-view-->
        <div class="content-container home-container">
            <div class="container">
                <div class="row space" id="home">
                    <h1>Cubbyhole</h1>
                    <h2>Sharing <span class="home-highlight">easier</span> with online storage</h2>

                    <div class="col-md-6 home-container-intro">
                        <img class="home-picture" src="/stylesheets/img/home.png">

                        <p class="home-banner">Store & Synchronize your data online from various devices</p>
                    </div>

                    <div class="col-md-6 home-container-sign">
                        <ul class="nav nav-tabs" id="sign-nav">
                            <li class="sign-nav-item active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                            <li class="sign-nav-item"><a href="#signup" data-toggle="tab">Sign Up</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="signin">
                                <form class="sign-form" method="POST" action="/signin">
                                    <div class="sign-input-prepend">
                                        <i class="fa fa-envelope sign-input-icon"></i>
                                        <input class="sign-input" type="email" placeholder="Email" required>
                                    </div>
                                    <div class="sign-input-prepend">
                                        <i class="fa fa-lock sign-input-icon"></i>
                                        <input class="sign-input" type="password" placeholder="Password" required pattern=".{6,}" title="6 character minimum length">
                                    </div>

                                    <input type="checkbox" id="home-remember-box">
                                    <label for="home-remember-box" class="home-remember-label">Remember me</label>

                                    <input type="submit" value="Sign In" class="sign-btn-submit">
                                </form>
                            </div>

                            <div class="tab-pane" id="signup">
                                <form class="sign-form" method="POST" action="/signup">
                                    <div class="sign-input-prepend">
                                        <i class="fa fa-envelope sign-input-icon"></i>
                                        <input class="sign-input" type="email" placeholder="Email" required>
                                    </div>
                                    <div class="sign-input-prepend">
                                        <i class="fa fa-lock sign-input-icon"></i>
                                        <input class="sign-input" type="password" placeholder="Password" required pattern=".{6,}" title="6 character minimum length">
                                    </div>
                                    <div class="sign-input-prepend">
                                        <i class="fa fa-lock sign-input-icon"></i>
                                        <input class="sign-input" type="password" placeholder="Confirm Password" required pattern=".{6,}" title="6 character minimum length">
                                    </div>

                                    <select class="sign-select" required>
                                        <option class="sign-select-option">FREE Plan</option>
                                        <option class="sign-select-option">PRO Plan</option>
                                        <option class="sign-select-option">ENTERPRISE Plan</option>
                                    </select>

                                    <input type="submit" value="Sign Up" class="sign-btn-submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container features-container">
            <div class="container">
                <div class="row space" id="features">
                    <h1>Features</h1>
                    <h2>One <span class="features-highlight">place</span> for all your documents</h2>

                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                    <p>TEST</p>
                </div>
            </div>
        </div>

        <div class="content-container downloads-container">
            <div class="container">
                <div class="row space" id="downloads">
                    <h1>Downloads</h1>
                    <h2>Because you want <span class="downloads-highlight">more</span></h2>

                    <div class="col-md-6 features-container-picture">
                        <img src="/stylesheets/img/iphone-a.png">
                    </div>

                    <div class="col-md-6 downloads-container-content">
                        Other stuff goes here ;) ...
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 downloads-container-content">
                        Other stuff goes here ;) ...
                    </div>

                    <div class="col-md-6 features-container-picture">
                        <img src="/stylesheets/img/pc-a2.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container plan-container">
            <div class="container">
                <div class="row space" id="plans">
                    <h1>Plans</h1>
                    <h2>To meet <span class="plan-highlight">all</span> your needs</h2>

                        <div class="row plans-bloc-container">
                            <div class="col-md-4 plan-bloc">
                                <h3 class="plan-title">Free</h3>

                                <img class="plan-img" src="/stylesheets/icons/icon_gift.svg">

                                <ul class="plan-list">
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 30 days before expiration
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 100 Go usable storage
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> Upload 100 - Download 100 mbps
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 100 Go shared link daily transfer quota
                                    </li>
                                </ul>

                                <div class="plan-price">
                                    Free
                                </div>
                            </div>

                            <div class="col-md-4 plan-bloc">
                                <h3 class="plan-title">Pro</h3>

                                <img class="plan-img" src="/stylesheets/icons/icon_handshake.svg">

                                <ul class="plan-list">
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 90 days before expiration
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 300 Go usable storage
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> Upload 300 - Download 300 mbps
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 300 Go shared link daily transfer quota
                                    </li>
                                </ul>

                                <div class="plan-price">
                                    $14.99<span>/month</span>
                                </div>
                            </div>

                            <div class="col-md-4 plan-bloc">
                                <h3 class="plan-title">Enterprise</h3>

                                <img class="plan-img" src="/stylesheets/icons/icon_briefcase.svg">

                                <ul class="plan-list">
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 365 days before expiration
                                    </li>
                                    <li class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 1000 Go usable storage
                                    </li>
                                    <li  class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> Upload 1000 - Download 1000 mbps
                                    </li>
                                    <li  class="plan-list-item">
                                        <i class="fa fa-check-circle plan-list-icon"></i> 1000 Go shared link daily transfer quota
                                    </li>
                                </ul>

                                <div class="plan-price">
                                    $24.99<span>/month</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="content-container about-container">
            <div class="container">
                <div class="row space" id="about">
                    <h1>About</h1>
                    <h2>We <span class="about-highlight">love</span> what we do</h2>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="about-info-container">
                                    <h4 class="about-subtitle">Who we are</h4>

                                    Cumorah Interactive is a creative company which has been created in 2002 in San Francisco. Today, it's a worldwide leader in
                                    creating business web applications to fit companies' needs.
                                </div>

                                <div class="about-info-container">
                                    <h4 class="about-subtitle">What we do</h4>

                                    Cubbyhole is a new storage service that allows clients to store and synchronize their data online, from various devices.
                                </div>

                                <div class="about-info-container">
                                    <h4 class="about-subtitle">Contact us</h4>

                                    <!--div class="container"-->
                                        <div class="row">
                                            <div class="col-md-4 about-social-container">
                                                <img class="about-social-logo" src="/stylesheets/img/facebook.png">
                                                <a class="about-social-link" href="http://www.twitter.com/cubbyhole">Like us</a>
                                            </div>

                                            <div class="col-md-4 about-social-container">
                                                <img class="about-social-logo" src="/stylesheets/img/twitter.png">
                                                <a class="about-social-link" href="http://www.facebook.com/cubbyhole">Follow us</a>
                                            </div>

                                            <div class="col-md-4 about-social-container">
                                                <img class="about-social-logo" src="/stylesheets/img/email.png">
                                                <a class="about-social-link" href="mailto:contact@cubbyhole.com">Email us</a>
                                            </div>
                                        </div>
                                    <!--/div-->


                                </div>
                            </div>

                            <div class="col-md-6">
                                <img class="about-img" src="/stylesheets/img/about.jpg">
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 center">
                        Designed & built with <i class="fa fa-heart footer-icon"></i> in Toulouse.
                        © 2014 Cubbyhole. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>

        <script src="../src/lib/jquery/jquery-1.10.2.min.js"></script>
        <script src="../src/lib/bootstrap/bootstrap-3.0.3-complete.min.js"></script>
        <!--script src="../src/lib/angular/angular.min.js"></script>
        <script src="../src/lib/angular/angular-animate.min.js"></script>
        <script src="../src/lib/angular/angular-resource.min.js"></script>
        <script src="../src/lib/angular/angular-route.min.js"></script>
        <script src="../src/lib/angular/angular-sanitize.min.js"></script>
        <script src="../src/app.js"></script>
        <script src="../src/home/home.js"></script-->

        <script>
            // TEMPORARY LOCATION
            /*$('.nav li').click(function() {
                $('.nav li').removeClass('navtop-item-selected');
                $(this).addClass('navtop-item-selected');
            });*/

            // Active Tabs
            $('#sign-nav a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('.sign-input').focus(function() {
                $(this).parent().addClass('sign-input-prepend-active');
            });

            $('.sign-input').blur(function() {
                $(this).parent().removeClass('sign-input-prepend-active');
            });
        </script>
    </body>
</html>