<!DOCTYPE html>
<html class="full-height">
    <head>
        <meta charset="utf-8">
        <title>CubbyHole - Terms of Service</title>
        <link rel="stylesheet" href="../src/lib/bootstrap/bootstrap-3.0.3-custom.min.css">
        <link rel="stylesheet" href="../styles/font-awesome/font-awesome-4.0.3.min.css">
        <link rel="stylesheet" href="../styles/style.css">
    </head>

    <body class="full-height">
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav navtop-container" role="banner">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle navtop-toggle-button" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./" id="navtop-brand" class="navbar-brand"><i class="navtop-icon fa fa-th"></i> Cubbyhole</a>
                </div>

                <nav class="collapse navbar-collapse bs-navbar-collapse navtop-items-container" role="navigation">
                    <ul class="nav navbar-nav navbar-right navtop-items-list">
                        <li class="navtop-item">
                            <a href="/index.html#home">Home</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#features">Features</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#downloads">Downloads</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#plans">Plans</a>
                        </li>
                        <li class="navtop-item">
                            <a href="#about">About</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </header>

        <div class="content-container full-height">
            <div class="container">

                <div class="row space-top-double">
                    <div class="col-md-12">
                        <h1>Terms of Service</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="subtitle">Icons</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Handshake designed by <a href="http://www.thenounproject.com/Joseluis">jose luis garcia</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Briefcase designed by <a href="http://www.thenounproject.com/dmitry.kudinov.35">Dmitry Kudinov</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Share designed by <a href="http://www.thenounproject.com/jamison">Jamison Wieser</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Picture Folder designed by <a href="http://www.thenounproject.com/dogdammit">Shai Rilov</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Add Folder designed by <a href="http://www.thenounproject.com/Brexebrex">Agus Purwanto</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Add Document designed by <a href="http://www.thenounproject.com/Brexebrex">Agus Purwanto</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Folder designed by <a href="http://www.thenounproject.com/Brexebrex">Agus Purwanto</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Document designed by <a href="http://www.thenounproject.com/AchtSieben">Maximilian Becker</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Pensil designed by <a href="http://www.thenounproject.com/buustar">Kitty_Keks</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Trash designed by <a href="http://www.thenounproject.com/misirlou">Benni</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
                    </div>
                </div>

            </div>
        </div>

        <footer class="bottom-fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footer-description">Designed & built with <i class="fa fa-heart footer-icon"></i> in Toulouse.
                            © 2014 Cubbyhole. All rights reserved. <a class="footer-link" href="/views/terms.html">Terms of Service</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../src/lib/jquery/jquery-1.10.2.min.js"></script>
        <script src="../src/lib/bootstrap/bootstrap-3.0.3-custom.min.js"></script>
    </body>
</html>