<div class="content-container">
  <div class="container quinary">

    <div class="row space-top">
      <div class="col-md-12">
        <h1>Your Profile</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="user-big-title">Your <span class="highlight">Account</span></h2>

        <h5 class="highlight user-title" ng-bind="user.mail"></h5>

        <h5 class="user-title">Registered on {{user.registrationDate | date}}</h5>

        <h5 class="user-title">{{user.currentPlan.plan.name}} Plan</h5>
      </div>

      <div class="col-md-6">
        <h2>Your <span class="highlight">Stats</span></h2>

        <h5>Storage</h5>

        <div class="row">
          <div class="col-md-8 progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-class="statsStyles.storage" style="width: {{stats.storage}}%;">
              {{stats.storage}}%
            </div>
          </div>
          <span class="col-md-4 user-stats">{{user.currentPlan.usage.storage}}MB / {{user.currentPlan.plan.storage}}MB</span>
        </div>

        <h5>Shared Quota</h5>

        <div class="row">
          <div class="col-md-8 progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-class="statsStyles.sharedQuota" style="width: {{stats.sharedQuota}}%;">
              {{stats.sharedQuota}}%
            </div>
          </div>
          <span class="col-md-4 user-stats">{{user.currentPlan.usage.share}}MB / {{user.currentPlan.plan.sharedQuota}}MB</span>
        </div>

        <h5>Bandwidth</h5>

        <h6>Upload</h6>

        <div class="row">
          <div class="col-md-8 progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-class="statsStyles.bandwidthUpload" style="width: {{stats.bandwidthUpload}}%;">
              {{stats.bandwidthUpload}}%
            </div>
          </div>
          <span class="col-md-4 user-stats">{{user.currentPlan.usage.bandwidth.upload}}MB / {{user.currentPlan.plan.bandwidth.upload}}MB</span>
        </div>

        <h6>Download</h6>

        <div class="row">
          <div class="col-md-8 progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-class="statsStyles.bandwidthDownload" style="width: {{stats.bandwidthDownload}}%;">
              {{stats.bandwidthDownload}}%
            </div>
          </div>
          <span class="col-md-4 user-stats">{{user.currentPlan.usage.bandwidth.upload}}MB / {{user.currentPlan.plan.bandwidth.download}}MB</span>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="content-container"></div>

<div class="content-container">
  <div class="container">
    <div class="row quinary">

      <div class="row space-top">
        <div class="col-md-12">
          <h1>Update Your Plan</h1>
          <h2>You're currently using the <span class="highlight" ng-bind="user.currentPlan.name"></span> Plan</h2>
        </div>
      </div>

      <div class="row plans-container">

        <div class="col-md-4 plans-bloc" ng-class="{'plan-chosen': user.currentPlan._id === plan._id}" ng-repeat="plan in plans track by $index">

          <div class="row">
            <div class="col-md-12">
              <h3 class="plans-title" ng-bind="plan.name"></h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <img class="plans-img" ng-src="/styles/icons/icon_{{plan.name}}_plan_black.svg" alt="icon plan">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="plans-list">
                <li class="plans-list-item">
                  <i class="fa fa-check-circle plans-list-icon"></i>
                  <span ng-if="plan.duration > 0">{{plan.duration}} days before expiration</span>
                  <span ng-if="plan.duration === 0">Never expires</span>
                </li>
                <li class="plans-list-item">
                  <i class="fa fa-check-circle plans-list-icon"></i> {{plan.storage}} Go usable storage
                </li>
                <li class="plans-list-item">
                  <i class="fa fa-check-circle plans-list-icon"></i> {{plan.bandwidth.upload}} & {{plan.bandwidth.download}} mbps of bandwidth
                </li>
                <li class="plans-list-item">
                  <i class="fa fa-check-circle plans-list-icon"></i> {{plan.sharedQuota}} Go of Shared Quota
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="plans-price">
                <span ng-if="plan.price === 0">Free</span>
                <span ng-if="plan.price > 0">${{plan.price}}<span class="plans-price-small">/{{plan.duration}} days</span></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn">Update to {{plan.name}}</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <modal modal-opts="modalOpts" modalform="modalform" modal-color="'quinary'"></modal>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="footer-description">Designed & built with <i class="fa fa-heart footer-icon"></i> in Toulouse.
          © 2014 Cubbyhole. All rights reserved. <a class="footer-link" href="/views/terms.html">Terms of Service</a></p>
      </div>
    </div>
  </div>
</footer>