.user-title {
  text-align: center;
  margin-bottom: 20px;
}

.user-subtitle {
  text-align: center;
}

.user-stats {
  font-size: 14px;
}

.user-avatar-container {
  text-align: center;
}

.user-avatar {
  border-radius: 50%;
  border: 3px solid rgb(200, 200, 200);
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .user-avatar {
    max-width: 200px;
    margin: 0 auto;
  }
}

.progress-bar {
  color: rgb(0, 0, 0);
}

.user-progress {
  width: 75%;
  margin: 0 auto;
  height: 18px;
}

.quinary .plans-bloc {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(90, 90, 90) !important;
  border: 1px solid rgb(255, 255, 255);
}

.quinary .plans-bloc:hover {
  box-shadow: none;
}

.quinary .plans-bloc .btn {
  margin-top: 15px;
}

.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen):hover {  border: 1px solid rgb(122, 201, 67);  }
.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen):hover {  border: 1px solid rgb(255, 147, 30);  }
.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen):hover {  border: 1px solid rgb(255, 29, 37);   }


.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen) .plans-title {
  color: rgb(122, 201, 67);
  border-bottom: 1px solid rgb(122, 201, 67);
}

.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen) .plans-title {
  color: rgb(255, 147, 30);
  border-bottom: 1px solid rgb(255, 147, 30);
}

.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen) .plans-title {
  color: rgb(255, 29, 37);
  border-bottom: 1px solid rgb(255, 29, 37);
}

.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen) .btn {
  background-color: rgb(141, 209, 97);
}

.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen) .btn:hover,
.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen) .btn:focus,
.quinary .plans-bloc:nth-child(3n + 1):not(.plan-chosen) .btn:active {
  background-color: rgb(122, 201, 67);
}

.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen) .btn {
  background-color: rgb(255, 168, 72);
}

.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen) .btn:hover,
.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen) .btn:focus,
.quinary .plans-bloc:nth-child(3n + 2):not(.plan-chosen) .btn:active {
  background-color: rgb(255, 147, 30);
}

.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen) .btn {
  background-color: rgb(254, 80, 81);
}

.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen) .btn:hover,
.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen) .btn:focus,
.quinary .plans-bloc:nth-child(3n + 3):not(.plan-chosen) .btn:active {
  background-color: rgb(255, 29, 37);
}

.quinary .plans-title {
  border-bottom: 1px solid rgb(90, 90, 90);
}

.quinary .plans-bloc.plan-chosen {
  border: 1px solid rgb(255, 108, 164);
}

.quinary .plans-bloc.plan-chosen .btn {
  visibility: hidden;
}

.quinary .plans-bloc.plan-chosen .plans-title {
  color: rgb(255, 108, 164);
  border-bottom: 1px solid rgb(255, 108, 164);
}