.user-title {
  text-align: center;
  margin-bottom: 50px;
}

.user-big-title {
  margin-bottom: 83px;
}

.user-medium-title {
  margin-top: -9px;
}

.user-icon {
  width: 23px;
  height: 23px;
}

.user-icon:hover path {
  fill: rgb(255, 108, 164);
}